.box {
  padding: 10px;
}
.box .img {
  width: 100%;
  height: 70%;
}
.box .img img {
  object-fit: cover;
}

.media .text {
  padding: 30px;
}
.media p {
  color: #72809d;
}

@media screen and (max-width: 480px) {
  .media .content.grid3 {
    grid-template-columns: 1fr;
  }
}
